workflows/the-agentic-ai-brief.json
{
  "name": "weekly_agentic_ai_news",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7b6e61e3-1669-461f-bf5b-0168ab7bf157",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "return [\n    {\"url\": \"https://www.latent.space/feed\"},\n    {\"url\": \"https://simonwillison.net/atom/entries/\"},\n    {\"url\": \"https://blog.pragmaticengineer.com/rss/\"},\n    {\"url\": \"https://www.swyx.io/rss.xml\"},\n    {\"url\": \"https://github.blog/changelog/feed/\"},\n    {\"url\": \"https://openai.com/news/rss.xml\"},\n    {\"url\": \"https://raw.githubusercontent.com/Olshansk/rss-feeds/main/feeds/feed_anthropic_research.xml\"},\n    {\"url\": \"https://www.reddit.com/r/ClaudeAI.rss\"},\n    {\"url\": \"https://www.reddit.com/r/AI_Agents.rss\"},\n    {\"url\": \"https://github.blog/changelog/label/copilot/\"}\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "17f5c269-a2d7-403c-b84e-40ee9a4e1da2",
      "name": "Code in Python"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I'm looking to get a feel for the 'zeitgeist' this past week from the news regarding Agentic AI. It is important to sift through the news and understand what is pertinant to a modern software engineer who has adopted AI tools such as Claude Code and GitHub Copilot.\n\nKeep in mind: one week's worth of 'zeitgeist' probably is fairly minimal, so don't make sweeping claims like 'AI has moved from copilot to agentic terminal'. I know that already.\nThe output should be:\n\n1. biggest headline of the week (most impactful; something many people are trying or adopting, has made a big difference to software engineers' workflows, or seems most promising to: it has to be very impactful)\n  a) this should be summarised in 500 words or less\n  b) include a link to the relevant story\n2. top 5 stories (aside from the headline)\n  a) each should be summarised in 100 words or less\n  b) there should be a link to each story\n3. final summary\n  a) give a summary for the week's news, indicating the direction things seem to be headed, any 'gotchas' or learnings, just keep me informed.\n\nThis can be considered like the 'briefing' that arrives on a U.S. President's desk, but on a weekly basis and only relating to tools, services, etc. that use AI and are made for software engineers.\n\n## Sources\n\nHere are RSS feeds you can look through (use the web tool to actually get the infromation).\n\n{{ $json.urls }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "a8c6eae8-8adc-4f06-8443-4c73600dad3c",
      "name": "AI Agent",
      "executeOnce": true,
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        208
      ],
      "id": "787a45d4-e3e2-4aa5-8d30-c9a4a856258f",
      "name": "Google Gemini Chat Model",
      "executeOnce": true,
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "9bHk3I8DguD5HKx9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jporcenaluk@gmail.com",
        "subject": "=Agentic AI Weekly Report: {{ $now.format('yyyy-MM-dd') }}",
        "message": "=Here is your weekly report:\n\n{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1344,
        0
      ],
      "id": "02759d55-903d-40f2-b617-d2107d807491",
      "name": "Send a message",
      "webhookId": "c12fa610-5830-4095-a412-2df4859c07ea",
      "credentials": {
        "gmailOAuth2": {
          "id": "sI2cofHaaSjw9MKK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "056181ad-9358-4804-b596-dfd45253ef8c",
      "name": "get rss feed content",
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        976,
        0
      ],
      "id": "2a686765-5303-48f4-be5e-5d58d4bb1be1",
      "name": "Information Extractor"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python": {
      "main": [
        [
          {
            "node": "get rss feed content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get rss feed content": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "851b482b-ea1b-405f-975d-112a62afb031",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9d218eb6010c95afc6aa0c9e60938515fbd37e477d70e7e75d1385cd65ce6d1"
  },
  "id": "5n_OtnLzjm_yLX2nVyA_S",
  "tags": []
}